<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'MainApp/gestion_reembolsos.css' %}">
    <title>Rendiciones Aprobadas</title>
</head>
<body>

    <!-- Header -->
    <header class="header">
        <div class="logo">
            <a href="{% url 'index' %}">INICIO</a>
        </div>
        <ul class="nav-links">
            <li><a href="#">Usuario</a></li>
            <li><a href="#">Perfil</a></li>
        </ul>
    </header>

    <!-- Contenido principal -->
    <main class="main-content">
        <h1 class="welcome-text">RENDICIONES APROBADAS</h1>
        <p class="user-welcome">Bienvenido, "Usuario Activo"</p>

        <!-- Tabla de rendiciones aprobadas -->
        <div class="table-container">
            <table class="reembolso-table">
                <thead>
                    <tr>
                        <th>N° Rendición</th>
                        <th>Fecha</th>
                        <th>Monto Aprobado</th>
                        <th>Estado</th>
                        <th>Comentario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rendicion in rendiciones %}
                    <tr>
                        <td>{{ rendicion.id }}</td>
                        <td>{{ rendicion.fecha_creacion|date:"M d, Y" }}</td>
                        <td>${{ rendicion.total }}</td>
                        <td>{{ rendicion.estado }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>
</html>
