<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'MainApp/styles.css' %}">
    <title>Contador</title>
</head>
<body>

    <!-- Header -->
    <header class="header">
        <div class="logo">
            <a href="{% url 'index' %}">INICIO</a>
        </div>
        <ul class="nav-links">
            <li><a href="#">Usuario</a></li>
            <li><a href="#">Perfil</a></li>
        </ul>
    </header>

    <!-- Contenido principal -->
    <main class="main-content">
        <div class="welcome-text">Bienvenido, Contador</div> <!-- Aquí se mostrará el nombre del usuario más adelante -->
        <div class="button-container">
            <a href="{% url 'gestion_reembolsos' %}" class="primary-button">RENDICIONES INGRESADAS</a>
        </div>
    </main>

</body>
</html>
