<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="UTF-8">
    <meta NAME="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'MainApp/styles.css' %}">
    <title>Rendicion de Gastos</title>
</head>
<body>
    <h1> <center>Página principal</center> </h1>

    <div class="botones">
        <a class="boton-trabajador" href="/trabajador">Inicio Trabajador</a>
        <a class="boton-trabajador" href="/contador">Inicio Contador</a>
        <a class="boton-trabajador" href="/jefe">Inicio Jefe de Àrea</a>
    </div>

</body>
</html>