<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'MainApp/styles.css' %}">
    <title>Index - Navegación</title>
</head>
<body>

    <!-- Header genérico -->
    <header class="header">
        <div class="logo">
            <a href="#">Inicio</a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'ingresar' %}">Usuario</a></li>
            <li><a href="#">Perfil</a></li>
        </ul>
    </header>

    <!-- Contenido principal -->
    <main class="main-content">
        <h1 class="welcome-text">Bienvenido al Sistema de Rendiciones</h1>
        <div class="button-container">
            <a href="{% url 'trabajador' %}" class="primary-button">Vista Trabajador</a>
            <a href="{% url 'ingresador' %}" class="primary-button">Vista Ingresador</a>
            <a href="{% url 'contador' %}" class="primary-button">Vista Validador</a>
            <a href="{% url 'visualizador' %}" class="primary-button">Vista Visualizador</a>
        </div>
    </main>

</body>
</html>
