<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'MainApp/styles.css' %}">
    <title>Trabajador</title>
</head>

<body>
    <header class="header">
        <div class="logo">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Usuario</a></li>
                <li><a href="#">Perfil</a></li>
            </ul>
        </nav>
        <a href="#" class="btn"><button>Contact</button></a>
    </header>
</body>
</html>