/*-------------------------CSS Trabajador----------------------------*/
/*----------------------------------------------------------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body{
    background-color: #FCD7AD;
}

.header{
    background-color: #5296A5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .nav-links{
    list-style: none;
    display: flex;
}

.header .inicio{
    margin-right: auto;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.01);
}

.header .nav-links a{
    font-size: 2000;
    color: #32161f;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: azure;

}

.header .btn button{   /*boton derecho*/
    font-weight: 700;
    padding: 9px 25px;
    background-color: aqua;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
/*-------------------------CSS Contador----------------------------*/
/*----------------------------------------------------------------------------*/
